/llama.cpp/**
/aurora-env/**
/kobold_startup.kccps
/llm_info.py
/depricated_aurora_files/**
/training.txt
/training_plan.txt
/pyver.py
/whisper.cpp/**
/ffmpeg/**
/aurora_env_old/**
/koboldcpp/**
/old/**
/vcpkg/**
