aurora_3D/model
aurora_3D/zips_and_2d
aurora_3D/Nozomi_1.00.vrm
aurora-env/
aurora-env-old/
aurora_memory/
ffmpeg/
koboldcpp/
kokoro/
llama.cpp/
neuro-game-sdk/
old/
piper/
vcpkg/
whisper.cpp/

aurora_behavior_prompt.txt
aurora_card.json
aurora_controller_kobold.py
char_card.txt
kobold_startup.kcpps
llm_info.py
microphone.wav
microphone.wav.txt
personality.csv
pyver.py
training_plan.txt
training.txt

depricated_aurora_files/ethics.txt
depricated_aurora_files/evil.txt
depricated_aurora_files/realtimesst.log
depricated_aurora_files/trolley.txt
/import_personality.py